/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #cffc19;
}

.chat-container {
    width: 300px;
    border: 1px solid rgb(64, 26, 135);
    padding: 10px;
    background: rgb(36, 221, 234);
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid rgb(142, 59, 59);
    margin-bottom: 10px;
    padding: 5px;
}

#shared-input {
    width: calc(100% - 60px);
    padding: 5px;
    margin-bottom: 10px;
}

#send-btn {
    width: 50px;
    height: 30px;
}

/* Add more styles as needed */
